<div class="row" style="padding-top: 60px; clear: both;">
   <div class="col-md-12 text-center"><p><small>&copy; All Rights Reserved. <a href="http://www.ucas.ac.cn/" title = "UCAS" target="_blank">UCAS</a> - Based on <a href="https://github.com/PENGZhaoqing/RailsChat" title="RailsChat" target="_blank">RailsChat</a>. Many thanks to <a href="https://github.com/PENGZhaoqing" title="PENGZhaoqing" target="_blank">PENGZhaoqing</a></small></p>
   </div>
</div>
